blinker
boto3
botocore
certifi
charset-normalizer
click
colorama
ecdsa
Flask
Flask-Cors
flask-mysql-connector
idna
itsdangerous
Jinja2
jmespath
MarkupSafe
mysql-connector-python
numpy
pandas
pip
pyasn1
python-dateutil
python-dotenv
python-jose
pytz
requests
rsa
s3transfer
six
stripe
typing_extensions
tzdata
urllib3
Werkzeug
